.group_posts_container {
    height: 100%;
    width:auto;
    background-color: rgb(78, 78, 78);
}

.group_posts_title {
    font-family: 'Average';
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    color: rgb(207, 184, 136);
}