.main_page_container {
    min-height: 100vh;
    height: fit-content;
    background-color: rgb(78, 78, 78);
}

.home_page_break {
    background-color: rgb(78, 78, 78);
    width: 100%;
    height: 20px;
    
}
.home_page_posts_container{
    height: 80vh;
}
.home_page_big_break{
    background-color: rgb(78, 78, 78);
    width: 100%;
    height: 130px;
}
