.join_group_container {
    height: 100vh;
    background-color: rgb(78, 78, 78);
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.group_field_container {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
}


.group_label {
    font-family: 'Average';
    font-size: 24px;
    margin-right: 10px;
    margin-top: 15px;
}

.group_input {
    width: 375px;
    height: 50px;
    border-radius: 5px;
    font-size: 24px;
    font-family: 'Average';
}

.join_group_break {
    background-color: rgb(78, 78, 78);
    height: 20%;
    width: 100%
}

.groups_error_message {
    padding-top: 5px;
    padding-bottom: 5px;
    font: 12px Arial;
    color: red;
}
