.registration_page_container{
    background-color: rgba(140, 126, 77, 1);
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding-bottom: 3%;
}
.registration_page_title{
    padding-top: 60px;
    color: black;
    font-family: 'Revalia';
    font-size: 64px;
    margin-bottom: 50px;
}
.registration_page_field{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
}
.registration_page_field_text{
    font-family: 'Average';
    font-size: 24px;
    padding-top: 20px;
    padding-right: 10px;
}
.registration_page_input{
    width: 416px;
    height: 65px;
    border-radius: 5px;
    font-size: 24px;
    font-family: 'Average';
}
.registration_page_new_user{
    font-family: 'Average';
    font-size: 24px;
    padding-top: 5%;
}
.registration_page_sign_in_button{
    padding-top: 20px;
}