.home_screen_button{
    background-color: black;
    color: rgba(140, 126, 77, 1);
    width: 20%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    font-family: 'Bungee';
    border-radius: 5px;
    text-align: center;
}